body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cart {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #454545;
    border-radius: 5px;
}

.cart h2 {
    margin-bottom: 10px;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.item-name {
    flex: 1;
}

.item-price {
    margin-left: 20px;
}

.remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.total-price {
    font-weight: bold;
}

.checkout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    width: 100%;
}

.checkout-btn:hover {
    background-color: #0056b3;
}

.carro{
    margin-top: 100px;
}